[submodule "vxl_src"]
	path = vxl_src
	url = ../vip_vxl
[submodule "external/src"]
	path = external/src
	url = ../vip_external_src
[submodule "external/bin_Linux_x86_64"]
	path = external/bin_Linux_x86_64
	url = ../vip_external_bin_Linux_x86_64
[submodule "external/bin_Windows_NT_AMD64"]
	path = external/bin_Windows_NT_AMD64
	url = ../vip_external_bin_Windows_NT_AMD64
