[submodule "external/vxl_src"]
	path = external/vxl_src
	url = git@github.com:VisionSystemsInc/vxl.git
[submodule "external/vsi"]
	path = external/vsi
	url = git@github.com:visionsystemsinc/vsi_common.git
