[submodule "vxl_src"]
	path = vxl_src
	url = git@bitbucket.org:visionsystemsinc/vip_vxl.git
[submodule "external/src"]
	path = external/src
	url = git@bitbucket.org:visionsystemsinc/vip_external_src.git
[submodule "external/bin_Linux_x86_64"]
	path = external/bin_Linux_x86_64
	url = git@bitbucket.org:visionsystemsinc/vip_external_bin_linux_x86_64.git
[submodule "external/bin_Windows_NT_AMD64"]
	path = external/bin_Windows_NT_AMD64
	url = git@bitbucket.org:visionsystemsinc/vip_external_bin_windows_nt_amd64.git
