{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}Voxel Globe - Order Voxel World{% endblock %}
{% block pageTitle %}<h2>Pick a scene size</h2>{% endblock %}

{% block includes %}

<!-- Include the client side javascript code -->

<style>
</style>

{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
<div id="mainContainer" class="main-content">
  <form action="{% url 'order_build_voxel_world:make_order_4' image_collection_id scene_id %}" method="post">
    {% csrf_token %}
    South Latitude (S is negative): <input type="text" name="lat1" value="{{ bbox.lat_min }}"/><br/>
    West Longitude (E is negative): <input type="text" name="lon1" value="{{ bbox.lon_min }}"/><br/>
    Bottom Altitude (WGS84): <input type="text" name="alt1" value="{{ bbox.alt_min }}"/><br/>
    North Latitude (S is negative): <input type="text" name="lat2" value="{{ bbox.lat_max }}"/><br/>
    East Longitude (E is negative): <input type="text" name="lon2" value="{{ bbox.lon_max }}"/><br/>
    Top Altitude (WGS84): <input type="text" name="alt2" value="{{ bbox.alt_max }}"/><br/>
    Voxel Size(meters): <input type="text" name="vox" value="0.5"/><br/>
    Use every <input type="text" name="skip" value="1"/> frames<br/>
    <input type="submit" value="Order"/>
  </form>
</div>
{% endblock %}