{% extends "meta/base.html" %}
{% load staticfiles %}

{% block title %}META4 - Main {% endblock %}

{% block includes %}

</style>
{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}

{% endblock %}

{% block pageTitle %}<h2>META4 Home</h2> {% endblock %}

{% block content %}

<div class="main-content" style="margin: 20px;">
    <ul>
        <li><a href="/meta/imageIngest">Image Ingest</a></li>
        <li><a href="/meta/tiePointCreator">Tie Point Creator</a></li>
        <li><a href="/meta/voxelCreator">Voxel Creator</a></li>
        <li><a href="/meta/voxelWorldViewer">Voxel World Viewer</a></li>
    </ul>
</div>
{% endblock %}
