{% extends "meta/base.html" %}
{% load staticfiles %}

{% block title %}META4 - Tie Point {% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'meta/OpenLayers-3.0.0-gamma.2/css/ol.css' %}" type="text/css">

<script src="{% static 'meta/cesium/Cesium/Cesium.js' %}"></script>
<script src="{% static 'meta/OpenLayers-3.0.0-gamma.2/build/ol.js' %}"></script>

<!-- Include the client side javascript code -->
<script src="{% static 'meta/js/tiePoint/tiePointCreator.js' %}"></script>
<script src="{% static 'meta/js/tiePoint/imageView.js' %}"></script>
<script src="{% static 'meta/js/tiePoint/mapView.js' %}"></script>
<style>
    @import url({% static 'meta/cesium/Cesium/Widgets/CesiumWidget/CesiumWidget.css' %});

    #mainContainer {
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 100%;
        width: 100%;
    }

    #sideBuffer {
        /*        background-color: red; */
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 98%;
        width: 22px;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    #mapContainer {
        /*        background-color: red; */
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 98%;
        width: 28%;
        margin: 0;
        overflow: hidden;
        margin: 0px 0px 0px 22px;
        padding: 0;
    }
    #imageContainer {
        /* background-color:red; */
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 98%;
        width: 70%;
        overflow: auto;
        padding: 0;
    }

    #mapToolbar {
        vertical-align: top;
        height: 19%;
        width: 100%
    }

    .imageWidget {
        display: inline-block;   
        background-color:#f5f5f5;     
        position:relative;
        height: 49%;
        width: 24%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        border : 1px solid black;
    }
    .imageToolbar {
        display: block;
        position:absolute;
        bottom:0px;
        left:0px;
        z-index:20;
        height: 20px;
        width: 98%;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    .imageContents {
        display: block;
        position:absolute;
        top:0px;
        left:0px;
        z-index:10;
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    #mapWidget {
        vertical-align: top;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

</style>
{% endblock %}

{%block globalfunctions %}
// Global functions defined outside of the jquery document ready function can be put here.
{% endblock %}

{% block javascript %}

  initializeDataAndEvents();

{% endblock %}
        
{% block pageTitle %}<h2>META4 Tie Point Creator</h2>{% endblock %}
{% block debugOptions %}
<input type="checkbox" id="showMap"></input><span style="margin:0px 20px 0px 0px;">Display Map</span>
Display <input type="number" value="1" id="numImagesPerPage" min="1" max="8" style="width:25px"></input><span style="margin:0px 20px 0px 0px;"> Images Per Page</span>
<button id="printDebugBtn" style="margin:0px 80px;font-size:80%">Print Debug Info</button>
{% endblock %}

{% block content %}

<div id="mainContainer" class="main-content">

    <div class="slideout">
        <div id="sideControlsContentDiv" class="slideout-content" style="display:none;overflow:auto;">
            <div id="sideControlsContentDivBtn" style="float:right; position:absolute; right: 0px; top: 2px; "><img width="20" src="{% static 'meta/icons/minimize.png' %}"></img></div>
            <div id="sideControlsContent" style="margin: 5px 5px 5px 5px; font-size:90%;">
                <div id="imageSelectionOptions">
                    Load Videos and Correspondences into the Editor
                    <h3>Videos</h3>                                       
                    <!-- <input type="text" width="20"></input>&nbsp;<button style="font-size:90%;">Filter Videos</button><br> -->                    
                    <div id="imageList" style="height:160px;background-color:#ffffff;border:1px solid black;overflow:auto;">
                        
                    </div>
                    <!-- <button id="updateSelectedVideo" style="font-size:90%;" title="Show the selected video">Update Video Display</button> -->
                </div>                
                <div id="tiePointSelectionOptions">
                 <h3>Correspondence Points</h3>
                  <!-- <input type="text" width="20"></input>&nbsp;<button style="font-size:90%;">Filter Points</button> -->
                 <div id="correspondenceList" style="height:260px;background-color:#ffffff;border:1px solid black;overflow:auto;">
                       
                    </div>                
                 <div id="imageToolbar">
                    <button id="addTiePoint" style="font-size:90%;" title="Create a new correspondence">New</button><button id="addTiePoint" style="font-size:90%;" title="Remove a correspondence" disabled>Remove</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="clearSelectedTiePoints" style="font-size:90%;" title="Clear displayed correspondence list.">Clear</button><button id="selectAllTiePoints" style="font-size:90%;" title="Select All correspondence points for display">Select All</button>
                 <br>
                    <!-- <button id="updateSelectedCorrespondences" style="font-size:90%;" title="Update the displayed correspondences">Update Correspondence Display</button> -->
                    </br>
                 This will go away
                  <select id="drawType">
                    <option value="None">None</option>
                    <option value="Point">Point</option>
                    <option value="LineString">LineString</option>
                    <option value="Polygon">Polygon</option>
                  </select>
                </div>               
            </div>
            </div>
        </div>
        <div id="sideControlsDiv" class="slideout-tab"><img width="20" src="{% static 'meta/icons/gear.png' %}" title="Configure the displayed videos and correspondences."></img></div>
    </div>

<div id="editorContentDiv" style="position:relative;">
    <div id="sideBuffer">
    </div>
    <div id="mapContainer">
        <div id="mapWidget">
            <!--<canvas id="zoomSlider" style="z-index:15;position:absolute;top:0;right:0;width:50px;height:100px;background-color:yellow;opacity:0.75;"></canvas> -->
        </div>
        <div id="mapToolbar">            
        </div>
    </div>
    <div id="imageContainer">           
    </div>        
</div>

<div id="debugInfo">
</div>

</div>

{% endblock %}